/* 
Color scheme: https://www.dropbox.com/s/af2zs0n0hycdnma/Screenshot%202013-12-07%2020.00.23.png

*/ 

/************************ Gridpak (http://gridpak.com) **************/ 

body,
html,
div {
     margin: 0;
     padding:0;
 }

 .align-center{
    text-align:center;
 }
 
/*
Page is our center aligned 95% width container. We have set it's 'position' as relative
so that the Gridpak overlay will appear in the correct position. We have also updated
the gridpak.js file to use '.page' as it's container.
*/
.page {
     margin: 0 auto;
     max-width: 95%;
     overflow:hidden;
     position:relative;
}

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
	margin-bottom: 12px;
}

    /* 1. 2 Column Grid 0px - 319px 
    ----------------------------------------------------------------------------- 
    
    Span 1: 50%
    Span 2: 100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 319px) {
        
        .row {
            margin-left:-12px;
        }
        .col {
            border-left-width:12px;
        	padding:0 12px;
            height:100px;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:50%;
        }
        /* Using .col to target ALL columns and make them 100% */
        .span_2,
        .col {
            width:100%;
            margin-left:0;
        }
    }

    /* 2. 6 Column Grid 320px - 919px 
    ----------------------------------------------------------------------------- 
    
    Span 1: 15.0%
    Span 2: 32.0%
    Span 3: 49.0%
    Span 4: 66.0%
    Span 5: 83.0%
    Span 6: 1000%
    
    ----------------------------------------------------------------------------- */
     /* Temporary: until I configure responsive layout for desktop */ 

     
    @media screen and (min-width: 320px) and (max-width: 919px) {
        
        .col {
            margin-left:2%;
        	padding:0 2%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:15.0%;
        }
        /*
        Here we have used our semantic names 'navigation' and 'media_block' and appended
        them next to their corresponding widths
        */
        .span_2,
        .navigation,
        .media_block {
            width:32.0%;
        }
        .navigation {
            height: 400px;
        }
        .span_3 {
            width:49.0%;
        }
        .span_4,
        .main_content {
            width:66.0%;
            /* height: 400px; */ 
        }
        .span_5 {
            width:83.0%;
        }
        .span_6,
        .header,
        .footer,
        .related_content {
            width:100%;
           /* height: 100px;*/
            margin-left:0;
        }
    }

    /* 3. 12 Column Grid 920px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1: 8.33333333333%
    Span 2: 16.6666666667%
    Span 3: 25.0%
    Span 4: 33.3333333333%
    Span 5: 41.6666666667%
    Span 6: 50.0%
    Span 7: 58.3333333333%
    Span 8: 66.6666666667%
    Span 9: 75.0%
    Span 10: 83.3333333333%
    Span 11: 91.6666666667%
    Span 12: 100%
    
    ----------------------------------------------------------------------------- */
     /* Temporary: until I configure responsive layout for desktop */ 
     /*
    @media screen and (min-width: 920px) {
        
        .row {
            margin-left:-12px;
        }
        .col {
            border-left-width:12px;
        	padding:0 12px;
        }
        
        .span_1 {
            width:8.33333333333%;
        }
        .span_2 {
            width:16.6666666667%;
        }
        .span_3,
        .navigation,
        .related_content {
            width:25.0%;
            height: 400px;
        }
        .span_4,
        .media_block {
            width:33.3333333333%;
            height: 200px;
        }
        .span_5 {
            width:41.6666666667%;
        }
        .span_6,
        .main_content {
            width:50.0%;
            height: 400px;
        }
        .span_7 {
            width:58.3333333333%;
        }
        .span_8,  {
            width:66.6666666667%;
        }
        .span_9 {
            width:75.0%;
        }
        .span_10 {
            width:83.3333333333%;
        }
        .span_11 {
            width:91.6666666667%;
        }
        .span_12,
        .header,
        .footer {
            width:100%;
            height: 100px;
            margin-left:0;
        }
    }
    */

/************************ /Gridpak **************/ 

/****************************** Global **************************/ 

body{
    font-family:Helvetica;
}

h1,h2,h3,h4,h5{
    margin-top:0%; 
    margin-bottom:0%; 
    padding-top:0%;
    padding-bottom:0%;
}

h1,h2,h3,h4,h5,#stick-man-dialogue, #timer{
    font-family: 'Simonetta', Arial;
    font-weight:400;
}

a{
    text-decoration:none;
}

p{
    line-height:1.5rem;
}

/****************************** /Global **************************/ 

/****************************** Sprites **************************/ 

/****************************** /Sprites **************************/ 

.sprite{
    background-image:url(../images/sprite.png);
    background-repeat:no-repeat; 
    background-size:512px 384px;
}
.logo-bg{
    background-position:0px 0px;
}

/* Header and Stick Man */ 

#logo{
    display:block;
    height:23px;
    width:150px;
    /* Temporary */ 
    position:relative;
    top:1.5rem;
    font-weight:bold;
    background-size:192px 123px;
    background-position:0px -37px;
}

#stick-man, #stick-man-dialogue{
    height:150px;
}

#streak-actions{
    cursor:pointer; 
}

#stick-man{
    width:85px;
    background-size:409px 307px;
}

.stick-waiting{
    background-position:-2px -150px;
}
.stick-streaking-1{
    background-position:-87px -150px;
}
.stick-streaking-2{
    background-position:-165px -150px;
}

#stick-man-dialogue{
    font-weight:bold;
    font-size:3.3rem;
}

#stick-man-dialogue.fs-medium{
    font-size:2.5rem;
}

#stick-man-dialogue.streaking{
    font-size:2.5rem;
}
#stick-man-dialogue.fs-small{
    font-size:150%; 
}

#timer{
    font-size:125%;
    padding-right:0.5rem;
    color:#fff;
    display:none;
    letter-spacing:0.15rem;
    text-align:justify;
    width:4rem;
    float:right;
}

/****************************** Place photos and misc. icons **************************/ 

.info{
    display:block;
    float:right;
    width:25px;
    height:25px;
    background-size:172px 103px;
    background-position:-145px -28px;
}
/* Trip Ideas */ 
.icon{
    /* Temporary */ 
    background-color:#ccc;
    min-height:75px;
}

.icon1{
    background:url(http://www.eventective.com/photo/597718.jpg) no-repeat;
}
.icon2{
    background:url(http://www.aviewoncities.com/img/chicago/kveus9752s.jpg) no-repeat;
    background-position:100% 50%;
    background-size:200%;
}

/****************************** Structure & Basic Layout **************************/ 

.header{
    height:75px;
    background:#086CA2;
    border-bottom:solid #64AAD0 .5rem;
}

.divider{
    border-top:solid #64AAD0 .5rem;
}

/* Titles that divide each section */ 

section h2:first-child{
    background:#086CA2;
    border-top:solid #64AAD0 .5rem;
    border-bottom:solid #64AAD0 .5rem;
    padding-top:.25rem;
    padding-bottom:.25rem;
    margin-top:1.5rem;
    color:#fff;
}

/****************************** /Structure & Basic Layout **************************/ 
